In [ ]:
#파일 읽기
with open('abc/text.txt','w') as f :
     f.write('hello')

f = open('abc/text.txt','r')
f.read()
f.close()

In [ ]:
with open("abc/text.txt", "w", encoding="utf-8") as f:
    f.write("안녕하세요")
    f.write("졸리네요")

안녕하세요졸리네요추가할께
요렇게

이렇게\m또 추가요렇게

이렇게
또 추가요렇게

이렇게
또 추가요렇게

In [23]:
with open("abc/text.txt", "a", encoding="utf-8") as f:
    f.write("\n이렇게\n")
    f.write("또 추가요렇게\n")

In [24]:
with open("abc/text.txt", "r", encoding="utf-8") as f:
   txtfile= f.read()
   print(txtfile)

안녕하세요졸리네요추가할께
요렇게

이렇게 또 추가요렇게

이렇게
또 추가요렇게

이렇게
또 추가요렇게

이렇게
또 추가요렇게

In [25]:
with open("abc/text.txt", "r", encoding="utf-8") as file:
    line = file.readline()
    print(line)

안녕하세요졸리네요추가할께

In [27]:
with open("abc/text.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

for line in lines:
    print(line.strip())
file.close()

안녕하세요졸리네요추가할께
요렇게

이렇게 또 추가요렇게

이렇게
또 추가요렇게

이렇게
또 추가요렇게

이렇게
또 추가요렇게

In [30]:


import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [31]:

# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [33]:
data
import json

In [42]:
with open('abc/data.json', 'w') as f:
    json.dump(data,f, ensure_ascii=False)

In [56]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)
print(loaded_txt)

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [57]:
import csv
data = [['name', 'age'], ['bob',20] , ['alice',15] ]
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerows(data)

In [70]:
import pandas as pd


df = pd.DataFrame(data)
df.columns = df.iloc[0]                           # 첫 번째 행을 컬럼 이름으로 설정
df = df.drop(index=0)                             # 컬럼이 되었던 첫 행 제거
df = df.reset_index(drop=True)                    # 인덱스 재정렬

df.to_csv('abc/data_df.csv')

In [71]:
df.columns = ['name', 'age']
pd.read_csv('abc/data_df.csv')

   Unnamed: 0   name  age
0           0    bob   20
1           1  alice   15