In [1]:
def greeting():
    print("안녕하세요, 파이썬 함수입니다.")

greeting()

안녕하세요, 파이썬 함수입니다.

In [ ]:
#함수 
- 인자 = 매개변수, 입력, 파라미터
- 반환값 = 리턴값, 결과값
- 함수이름
- 함수 정의 > 호출

In [27]:
def my_func():
    print('my first function')
    print('hello')
    print('good, job')
    return 'hello'

In [20]:
def my_func1():
    print('my first function')
    print('hello')
    print('good, job')
    return 'hello'

In [28]:
my_func1()

my first function
hello
good, job

'hello'

In [29]:
my_func_var =  my_func()

my first function
hello
good, job

In [22]:
my_func_var=my_func()
my_func_var
print(my_func_var)

my first function
hello
good, job
hello

In [25]:
my_func_var2 = my_func1()

my first function
hello
good, job

In [26]:
my_func_var2

'hello'

In [ ]:
입력값이 있는 함수

In [48]:
def my_calc(x):
    print(f'{x}를 계산합니다.')
    z=x*20
    return z
my_calc(2)

2를 계산합니다.

40

In [54]:
def my_calc2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result=x+y
    mul_result=x*y
    return add_result, mul_result
my_calc2(5,10)

5와 10를 계산합니다.

(15, 50)

In [56]:
func_result1, f2 = my_calc2(5,10)  #언패킹
func_result

5와 10를 계산합니다.

(15, 50)

In [58]:
func_result1

15

In [ ]:
# 입력값의 타입 : 수치형 vs 리스트 (객체형)
  - 수치형  : 값에 의한 call by value
  - 객체형 값의 전달 call by reference

In [64]:
def my_calc3(a, lst1) :
    a+=1
    lst1.append(a)
    return a

In [66]:
num =10 
lst_num = [1,2,"12"]
print(f'before: {num}, {lst_num}')

my_calc3(num, lst_num)
print(f'before: {num}, {lst_num}')

before: 10, [1, 2, '12']
before: 10, [1, 2, '12', 11]

In [67]:
my_calc3(a=num, lst1=lst_num)

11

# 키워드 매개변수 함수의 매개변수는 그 자체가 매개변수명이다.
매개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

In [73]:
def greeting(name, greeting='hello'):
    print(f'{greating}, {name}님')

greeting('minsu', 'hello')

NameError: name 'greating' is not defined

In [72]:
def greeting(name, greeting='hello'):
    print(f'{greeting}, {name}님')  # Corrected 'greating' → 'greeting'

greeting('minsu', 'hello')  # Output: hello, minsu님

hello, minsu님

In [80]:
#가변인자
def sum_all( *args):  #가장 마지막에
    return sum(args)
    
sum_all(1,2,3,4,5)

15

In [84]:
def sum_all2(arg1,arg2, *args):
    result = arg1 + arg2 + sum(args)
    print(type(args))
    return result

sum_all2(1,2,3,4,5)

<class 'tuple'>

15

In [89]:
def print_info(**kwargs):
    for k, v in kwargs.items():
        print(f'{k}, {v}')

In [91]:
 print_info(name='hong', age=20, city='seoul', nick_name='bob')

name, hong
age, 20
city, seoul
nick_name, bob

In [95]:
#요일 구하는 함수
#입력 : year, month, day 
#출력 : 월요일
#함수명 : 요일찾기()


total_days = 0

for(i in range(i, year)
    #유년 400으로 나누면 나머지가 0, 4로나누어 나머지가 0
    #평년 100으로 나누어 나머지가 0

    if(i%400 == 0:
        total_Days +=366
    elif 1%100 == 0;
        total_Days +=366
    elif 1%4 == 0;
        total_Days +=366
    else:
        total_Days +=365

print(total_days)


    
    
년도에 해당하는 일수
날짜 - 연, 월, 일 yesr =2025 month = 06, day =05
#년도일수 입력년도 -1 *365
# 월일수 입력한 월-1 *30
# 입력한 일
#윤년인지 체크 윤년이 2월이 29일있는것
#윤녀일떄는 +! 
#1월일떄는 31일
#월별 일수 계산



#def day()
    





------
#year, month, day = 2016, 8, 11
#print(year, month, day, sep='-')

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1850442223.py, line 28)

In [153]:
def yunnun(year):
    yun = False
    if year%400 == 0:
       return True
    elif year%100 == 0:
       return False
    elif year%4 == 0:
       return True
    else:
       return False

yunnun(2025)

False

In [156]:
year=2025
month=6
days=5

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일


for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
    if yunnun(i) == True : 
        total_days+=366     
    elif yunnun(i) == False :
        total_days+=365
    
print(total_days)


month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range (1, month):
    total_days += month_days[m]
if month >= 3:
  if yunnun(2025) == True : total_days+=1

print(total_days)
total_days+=days

print(total_days) #774444


remain_days =total_days % 7

weekdays = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"]

print(weekdays[remain_days])  # 요일 출력

 
#if remain_days ==1 :
#    print('월요일')
#if remain_days ==2 :
#    print('화요일')
#if remain_days ==3 :
#    print('수요일')
#if remain_days ==4 :
#    print('목요일')
#if remain_days ==5 :
#    print('금요일')
#if remain_days ==6 :
# print('토요일')
#if remain_days ==7 :
#   print('일요일')

739251
739402
739407
목요일

In [105]:
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range (1, 6):
    total_days += month_days[m]
print(total_days)

394

In [125]:
def 요일찾기(year, month, day):
    week_day_name='일요일'
    return week_day_name

In [126]:
import datetime
today=datetime.date(2025,6,5)
today.weekday()

day_name = 요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name} 입니다')

NameError: name 'day' is not defined

#성적처리 시스템 total, avg, 성적순 구하기
-calc_total()
-calc_average()
-calc_order()

-print_student(students)
-print_class() 과목평균

In [10]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [159]:
for student in students : 
    student['total'] = (student['kor'] + student['eng']  + student['math'])
    student['avg'] = student['total'] / 3
    print(student['total'], student['avg'])

255 85.0
265 88.33333333333333
240 80.0

In [61]:
def calc_total(stus) :
    for s in stus:
       s['total'] = (s['kor'] + s['eng']  + s['math'])
       return s['total']
def calc_average(stus) :
    for s in stus:
        s['avg'] = float((s['kor'] + s['eng']  + s['math']))/3
        return s['avg']    
def calc_order(stus):  
    for student in stus :  #students[0] 자료를 꺼낸 것이 student
        rank = 1
        for other in stus :
            if other['total'] > student['total'] :
                rank += 1
        student['order'] = rank
        #print(student['name'], student['order'])
def print_student(stus) :
    for s in stus:
        s['avg'] = float((s['kor'] + s['eng']  + s['math']))/3
        print(f'국어: {s['kor']} 영어: {s['eng']} 수학: {s['math']} 평균: {s['avg']} ') 

def print_class(stus) :
    #반평균
    class_avg=0
    count =  len(stus)
    total = sum(student['total'] for student in stus)
    class_avg = sum(student['total'] for student in stus)/count
    kor_avg= sum(student['kor'] for student in stus)/count
    eng_avg= sum(student['eng'] for student in stus)/count
    eng_avg= sum(student['math'] for student in stus)/count

    print(f'반평균 : {class_avg}, 국어 : {kor_avg} 영어 : {kor_avg} 수학 : {kor_avg}   ')

In [64]:
total=calc_total(students)
total
avg=calc_average(students)
avg
calc_order(students)
print_student(students)
print_class(students)

국어: 90 영어: 80 수학: 85 평균: 85.0
국어: 90 영어: 85 수학: 90 평균: 88.33333333333333
국어: 80 영어: 80 수학: 80 평균: 80.0
반평균 : 85.0, 국어 : 86.66666666666667 영어 : 86.66666666666667 수학 : 86.66666666666667

In [8]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

for student in students :  
    rank = 1
    for other in students :
        if other['total'] > student['total'] :
            rank += 1
    student['order'] = rank
    print(student['name'], student['order'])

김철수 1
박제동 1
홍길동 1