| append(x)          | lst.append(4)          | 맨 뒤에 x 추가       |
| insert(i, x)       | lst.insert(1, "a")     | i 위치에 x 삽입    |
| extend(iter)       | lst.extend([4, 5])     | 리스트에 여러 값 추가      |
| remove(x)          | lst.remove("a")        | x와 일치하는 첫 항목 삭제 |
| pop()              | lst.pop()              | 마지막 항목 제거하고 반환    |
| pop(i)             | lst.pop(0)             | i번째 항목 제거하고 반환  |
| clear()            | lst.clear()            | 리스트 전체 비우기        |
| index(x)           | lst.index("a")         | x의 위치(인덱스) 반환   |
| count(x)           | lst.count("a")         | x의 개수 세기        |
| sort()             | lst.sort()             | 오름차순 정렬 (원본 변경)   |
| sort(reverse=True) | lst.sort(reverse=True) | 내림차순 정렬           |
| reverse()          | lst.reverse()          | 항목 순서 뒤집기         |
| copy()             | lst2 = lst.copy()      | 리스트 복사            |

In [4]:
lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [6]:
lst.append(5)
lst

[1, 2, 3, 4, 5]

In [7]:
lst.insert(1, "a")
lst

[1, 'a', 2, 3, 4, 5]

In [10]:
lst.extend([7,8])
lst

[1, 'a', 2, 3, 4, 5, 7, 8]

In [21]:
lst.remove(1)
lst

[2, 3, 4, 5, 7, 8]

In [22]:
lst.pop()

8

In [23]:
lst

[2, 3, 4, 5, 7]

In [24]:
lst.pop(0)
lst

[3, 4, 5, 7]

In [26]:
lst.clear()

In [27]:
lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [31]:
lst.count(1)

1

In [29]:
lst.index(1)

0

In [33]:
lst.sort()
lst

[1, 2, 3, 4]

In [35]:
lst.sort(reverse=True)
lst

[4, 3, 2, 1]

In [37]:
lst.reverse() 
lst

[4, 3, 2, 1]

In [39]:
lst2 = lst.copy() 
lst2

[4, 3, 2, 1]

In [45]:
#간식박스 관리 프로그램
snack_box = ['초보파이', '홈런볼', '하리보젤리']
new_snack=input("먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요").split(',')
snack_box += new_snack

snack_box

qty=int(input("간식박스를 몇 세트로 포장할까요? 예2->2box"))
snack_box=snack_box*qty


print(f'주문하신 간식상자는 {snack_box[0]}, {snack_box[1]}, {snack_box[3]} 등입니다 확인하세요')

msg = f'혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
snack_no=int(input(msg))

del snack_box[snack_no]
 
#간식박스프로그램 4
#찾고 싶은 간식번호를 입력하세요
msg = f'찾고싶은 간식 이름을 입력하세요 (0~)'
name=input(msg)
name in snack_box

#간식박스 관리프로그램
snack_name = input('혹시 찾고싶은 간식을 입력하세요')
if snack_name in snack_box : 
    print("있어요")
else:
    print('없어요')

#간식박스 프로그램
print("주문하신 간식박스는 첫번쨰부터 다음과 같다.")
print(f'{snack_box[::1]}, 총 {len(snack_box)} 입니다 ')

먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요 사이다
간식박스를 몇 세트로 포장할까요? 예2->2box 2

주문하신 간식상자는 초보파이, 홈런볼, 사이다 등입니다 확인하세요

혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~7) 4
찾고싶은 간식 이름을 입력하세요 (0~) 사이다
혹시 찾고싶은 간식을 입력하세요 사이다

있어요
주문하신 간식박스는 첫번쨰부터 다음과 같다.
['초보파이', '홈런볼', '하리보젤리', '사이다', '홈런볼', '하리보젤리', '사이다'], 총 7 입니다

In [47]:
sports = {"baseball": "야구", "soccer": "축구"}
print(sports["soccer"])

축구

In [49]:
person = {"이름": "Alice", "나이": 25, "도시": "서울"}
person

{'이름': 'Alice', '나이': 25, '도시': '서울'}

In [50]:
person["직업"] = "개발자"

In [51]:
person

{'이름': 'Alice', '나이': 25, '도시': '서울', '직업': '개발자'}

In [52]:
person["나이"] = 26

In [53]:
person

{'이름': 'Alice', '나이': 26, '도시': '서울', '직업': '개발자'}

In [54]:
del person["도시"]

In [55]:
person

{'이름': 'Alice', '나이': 26, '직업': '개발자'}

In [58]:
person

{'이름': 'Alice', '나이': 26, '직업': '개발자', '도시': '서울'}

In [59]:
print(person.keys())

dict_keys(['이름', '나이', '직업', '도시'])

In [61]:
print(person.values())

dict_values(['Alice', 26, '개발자', '서울'])

In [63]:
print(person.items())

dict_items([('이름', 'Alice'), ('나이', 26), ('직업', '개발자'), ('도시', '서울')])

In [64]:
person

{'이름': 'Alice', '나이': 26, '직업': '개발자', '도시': '서울'}

In [65]:
print(person.pop("나이"))

26

In [66]:
person

{'이름': 'Alice', '직업': '개발자', '도시': '서울'}

In [67]:
person["나이"] = 26

In [68]:
person

{'이름': 'Alice', '직업': '개발자', '도시': '서울', '나이': 26}

In [70]:
s = {1, 2, 2, 3, 3, 4}

In [71]:
print(s)

{1, 2, 3, 4}

In [ ]:
# 메뉴 정의
menu = [
    [1, "요거트 아이스크림", 3000],
    [2, "딸기 요거트", 3500],
    [3, "초코 요거트", 3700]
]

orders = {} # 주문 목록을 딕셔너리로 구성: {메뉴번호: [이름, 단가, 수량]}

# 1. 주문요청 후 값을 받는 함수
def request_menu_number():
    print("\n📋 메뉴")
    for item in menu:
        print(f"{item[0]}. {item[1]} : {item[2]}원")
    print("0. 주문 종료")
    return input("메뉴 번호를 입력하세요: ")

# 2. 주문번호 유효성 판단 함수
def is_valid_number(choice):
    if not choice.isdigit():
        print("❌ 숫자를 입력해주세요.")
        return False
    number = int(choice)
    valid_numbers = [item[0] for item in menu]
    if number != 0 and number not in valid_numbers:
        print("❌ 존재하지 않는 메뉴입니다.")
        return False
    return True

# 3. 주문번호가 올바를 때 메뉴 추가 함수 (수량 관리 포함)
def add_order(num):
    for item in menu:
        if item[0] == num:
            if num in orders:
                orders[num][2] += 1 # 수량 증가
            else:
                orders[num] = [item[1], item[2], 1] # 이름, 가격, 수량 1
            print(f"✔ {item[1]} 1개가 주문에 추가되었습니다.")
            print_summary()
            return

# 4. 주문 내역 출력 함수 (수량 포함)
def print_summary():
    print("\n🧾 주문 내역")
    total = 0
    for num, (name, price, qty) in orders.items():
        print(f"- {name} x {qty} = {price * qty}원")
        total += price * qty
    print(f"총합: {total}원")

# 전체 실행 흐름
def run_kiosk():
    while True:
        choice = request_menu_number()
        if not is_valid_number(choice):
            continue
        num = int(choice)
        if num == 0:
            break
        add_order(num)
    print_summary()

# 실행
run_kiosk()

#연산자 

- 비식별연산자
1.수치연산 : 사칙연산
  # add() => 특별메소드를 정의하고 객체를 쓸 수 있다.
  #숫자일 때는 기본연산
  #형변환이 자동으로 일어난다 int+fosat -> float, int/int -> floaat

2. 대입연산 : assign, 할당  '='
   변수 = 값 
   자기 자신에게 대입하는 연산 > +=, -=, *-. /=  () 자동적용
   
    
3.비교연산
4.논리연산


- 식별 연산자
  1. is, is not

In [2]:
a=5
a +=5
print(a)

10

In [4]:
a=5
b=2
a *=2+b
a

20

In [ ]:
비교연산 '=' 와 '==' 
비교연산 '=' , '=='
'!=", '>=", "<="

리스트 비교 '==' > 내용이 같은가? > 리스트의 주소가 같은가?
7. 논리연산

- 식별연산자
1. is, is not

7.논리연산 
 and, or, not
&, &&, | , !
id= 주소가져오기

In [ ]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [8]:
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 0,
  'avg': 0.0,
  'order': 0}]

In [17]:

for item in students :
 students[0]['total'] = (students[0]['kor'] 
                        + students[0]['eng'] 
                        + students[0]['math'])

In [20]:
students[0]['total']

255

In [27]:
for i in range(3):  # 인덱스 0부터 2까지 반복
    students[i]['total'] = (students[i]['kor'] 
                            + students[i]['eng'] 
                            + students[i]['math'])
    print(students[i]['total'])

255
265
240

In [36]:


for student in students :     #for문에서는 list의 요소를 하나씩 꺼낼 수 있다. 0>1>2 iterator
     student['total'] = (student['kor'] 
                            + student['eng'] 
                            + student['math'])
     student['avg'] = student['total']/3


    
    
     print(student['total'], student)

255 {'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}
265 {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}
240 {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}

In [41]:
for i in range(len(students)):
    rank = 1  # 기본 순위는 1등
    for j in range(len(students)):
        if students[j]['total'] > students[i]['total']:  # 총점이 높은 학생이 있으면 순위 증가
            rank += 1
    students[i]['order'] = rank  # 순위 저장

# 결과 출력
for student in students:
    print(f"번호: {student['num']}, 이름: {student['name']}, 순위: {student['order']}")

번호: 1, 이름: 김철수, 순위: 2
번호: 2, 이름: 박제동, 순위: 1
번호: 3, 이름: 홍길동, 순위: 3

In [102]:
for student in students : #student[0] 자료 꺼낸것이 student
    rank = 1
    for other in students : 
        if other['total'] > student['total'] :
             rank+=1
    student['order']  = rank

In [101]:
for student in students:
    print(f"번호: {student['num']}, 이름: {student['name']}, 순위: {student['order']}")

번호: 1, 이름: 김철수, 순위: 2
번호: 2, 이름: 박제동, 순위: 1
번호: 3, 이름: 홍길동, 순위: 3

In [73]:
lunch1 = ['주먹밥', '치킨', '칼국수' ]
lunch2 = ['주먹밥', '치킨', '칼국수' ]
lunch1 == lunch2
id(lunch1) == id(lunch2)

False

lunch1 is lunch2 #주소를 비교
리스트의 비교 '==' > 내용이 같은가
리스트의 비교 'is' > 주소가 같은가

In [ ]:
type(),
sorted(),
dir(),
id(),
len(),
sum(), max(), min()

In [103]:
lunch1 = ['주먹밥', '치킨', '칼국수' ]
lunch2 = ['주먹밥', '치킨', '칼국수' ]
lunch3 = [3000, 4000, 5000 ]

type(lunch1)
sorted(lunch1)
dir(lunch1)
id(lunch1)
len(lunch1)
sum(lunch3)  #, max(), min()
max(lunch3)
min(lunch3)

3000

In [ ]:
for student in students : #student[0] 자료 꺼낸것이 student
    rank = 1
    for other in students : 
        if other['total'] > student['total'] :
             rank+=1
    student['order']  = rank

In [ ]:
[1,3,5,4,2] 리스트를 [1,2,3,4,5]로 만들어보자

In [104]:
lst = [1,3,5,4,2] 
lst=sorted(lst)
lst

[1, 2, 3, 4, 5]

In [ ]:
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())

변경 전

[1, 3, 5, 7, 9]

변경 후

[3, 5, 7, 9, 1]

In [107]:
lst = [3, 5, 7, 9, 1]
lst=sorted(lst)
lst

[1, 3, 5, 7, 9]

In [109]:
words = ['Life','is','too','short']
sentence = ' '.join(words)
sentence

'Life is too short'

In [131]:
lst = [3, 5, 7, 9, 1]
lst2 = [] 

#lst2=lst.pop()
#lst2=lst.pop()
#lst2=lst.pop()
#lst2=lst.pop()
#lst2=lst.pop()
lst.pop()  
lst.append(1)
lst

[3, 5, 7, 9, 1]

#딕셔너리
{키:값, 키:값}

ㅡ

In [132]:
person = {"이름": "Alice", "나이": 25, "도시": "서울"}
person

{'이름': 'Alice', '나이': 25, '도시': '서울'}

In [134]:
list()
person2=dict()

In [141]:
person2 = dict(이름="beom", 나이=30, 도시="안양")

In [140]:
person2

{'이름': 'beom', '나이': 30, '도시': '서울'}

In [142]:
person["이름"] = '홍길동'

In [143]:
person

{'이름': '홍길동', '나이': 25, '도시': '서울'}

In [144]:
person[0]='bob'

In [145]:
person

{'이름': '홍길동', '나이': 25, '도시': '서울', 0: 'bob'}

In [146]:
type(person)

dict

In [147]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [148]:
person.items()

dict_items([('이름', '홍길동'), ('나이', 25), ('도시', '서울'), (0, 'bob')])

In [153]:
keys = person.keys()

In [154]:
for k in keys :
    print(k)

이름
나이
도시
0

In [189]:
p_list = person.keys()
p_list

dict_keys(['이름', '나이', '도시', 0, '성별', '취미'])

In [161]:
#update()는 딕셔너리에 딕셔너리를 추가합니다.
person.update(person2)
person

{'이름': 'beom', '나이': 30, '도시': '안양', 0: 'bob'}

In [166]:
pernson3 = {'성별' : '여자', '취미' : "판타지"}
person.update(pernson3)
person

{'이름': 'beom', '나이': 30, '도시': '안양', 0: 'bob', '성별': '여자', '취미': '판타지'}

In [190]:
store_name = "바리스타 엘리's 카페"
menu_list = ['에스프레소', '아이스아메리카노','따듯한 라떼']
price_list = [3000,4000,5000]
b_list = [] 

print("*"*40)
print(f'어서오세요 {store_name}에 오신것을 환영합니다')


for i in range(len(menu_list)) :
          print(f'{i+1}. {menu_list[i]}  {price_list[i]}')
    
          
print("*"*40)
order_num = int(input('주문할 메뉴 번호를 입력하세요 :'))
qty = int(input('주문할 수량을 숫자로 입력하세요 : '))

print(f'주문하신 메뉴는 {menu_list[order_num-1]} 입니다, 결재하실 금액은 {qty*price_list[order_num-1]} 입니다')
b_list

****************************************
어서오세요 바리스타 엘리's 카페에 오신것을 환영합니다
1. 에스프레소  3000
2. 아이스아메리카노  4000
3. 따듯한 라떼  5000
****************************************

주문할 메뉴 번호를 입력하세요 : 1
주문할 수량을 숫자로 입력하세요 :  2

주문하신 메뉴는 에스프레소 입니다, 결재하실 금액은 6000 입니다

[]

In [188]:

# 메뉴 정의
menu = [
    [1, "요거트 아이스크림", 3000],
    [2, "딸기 요거트", 3500],
    [3, "초코 요거트", 3700]
]

orders = {} # 주문 목록을 딕셔너리로 구성: {메뉴번호: [이름, 단가, 수량]}

# 1. 주문요청 후 값을 받는 함수
def request_menu_number():
    print("\n 메뉴")
    for item in menu:
        print(f"{item[0]}. {item[1]} : {item[2]}원")
    print("0. 주문 종료")
    return input("메뉴 번호를 입력하세요: ")

# 2. 주문번호 유효성 판단 함수
def is_valid_number(choice):
    if not choice.isdigit():
        print(" 숫자를 입력해주세요.")
        return False
    number = int(choice)
    valid_numbers = [item[0] for item in menu]
    if number != 0 and number not in valid_numbers:
        print(" 존재하지 않는 메뉴입니다.")
        return False
    return True

# 3. 주문번호가 올바를 때 메뉴 추가 함수 (수량 관리 포함)
def add_order(num):
    for item in menu:
        if item[0] == num:
            if num in orders:
                orders[num][2] += 1 # 수량 증가
            else:
                orders[num] = [item[1], item[2], 1] # 이름, 가격, 수량 1
            print(f" {item[1]} 1개가 주문에 추가되었습니다.")
            print_summary()
            return

# 4. 주문 내역 출력 함수 (수량 포함)
def print_summary():
    print("\n 주문 내역")
    total = 0
    for num, (name, price, qty) in orders.items():
        print(f"- {name} x {qty} = {price * qty}원")
        total += price * qty
    print(f"총합: {total}원")

# 전체 실행 흐름
def run_kiosk():
    while True:
        choice = request_menu_number()
        if not is_valid_number(choice):
            continue
        num = int(choice)
        if num == 0:
            break
        add_order(num)
    print_summary()

# 실행
run_kiosk()

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  1

 요거트 아이스크림 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 1 = 3000원
총합: 3000원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  2

 딸기 요거트 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 1 = 3000원
- 딸기 요거트 x 1 = 3500원
총합: 6500원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  3

 초코 요거트 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 1 = 3000원
- 딸기 요거트 x 1 = 3500원
- 초코 요거트 x 1 = 3700원
총합: 10200원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  1

 요거트 아이스크림 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
- 딸기 요거트 x 1 = 3500원
- 초코 요거트 x 1 = 3700원
총합: 13200원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  2

 딸기 요거트 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
- 딸기 요거트 x 2 = 7000원
- 초코 요거트 x 1 = 3700원
총합: 16700원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  3

 초코 요거트 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
- 딸기 요거트 x 2 = 7000원
- 초코 요거트 x 2 = 7400원
총합: 20400원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  0

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
- 딸기 요거트 x 2 = 7000원
- 초코 요거트 x 2 = 7400원
총합: 20400원

In [13]:
# store_name = "바리스타 엘리's 카페"
menu_list = [ 
    {'name':'에스프레소','price':3000},
    {'name':'아이스아메리카노','price':4000},
    {'name':'라떼','price':5000},
    {'name':'말차프라푸치노','price':7000},
]

#['에스프레소', '아이스아메리카노','따듯한 라떼']
#price_list = [3000,4000,5000]



print("*"*40)
print(f'어서오세요 {store_name}에 오신것을 환영합니다')

#메뉴목록 출력
for i, menu in enumerate(menu_list) : 
      print((i+1,menu))
      print(f'{i+1} . {menu['name']} {menu['price']} ');


print("*"*40)
order_num = int(input('주문할 메뉴 번호를 입력하세요 :'))
qty = int(input('주문할 수량을 숫자로 입력하세요 : '))

amt = qty * menu_list[order_num]['price']
name = menu_list[order_num]['name']

print(f'주문하신 메뉴는 {name} 입니다, 결재하실 금액은 {amt} 입니다')

****************************************
어서오세요 바리스타 엘리's 카페에 오신것을 환영합니다
(1, {'name': '에스프레소', 'price': 3000})
1 . 에스프레소 3000
(2, {'name': '아이스아메리카노', 'price': 4000})
2 . 아이스아메리카노 4000
(3, {'name': '라떼', 'price': 5000})
3 . 라떼 5000
(4, {'name': '말차프라푸치노', 'price': 7000})
4 . 말차프라푸치노 7000
****************************************

주문할 메뉴 번호를 입력하세요 : 1
주문할 수량을 숫자로 입력하세요 :  3

주문하신 메뉴는 아이스아메리카노 입니다, 결재하실 금액은 12000 입니다

In [14]:

# 메뉴 정의
menu = [
    [1, "요거트 아이스크림", 3000],
    [2, "바나나", 3500],
    [3, "딸기", 3700],
    [4, "벌집꿀", 3700],
    [5, "그레놀라", 3700],
    [6, "초코쉘", 3700],
    [7, "초코쉘", 3700]
]

orders = {} # 주문 목록을 딕셔너리로 구성: {메뉴번호: [이름, 단가, 수량]}

# 1. 주문요청 후 값을 받는 함수
def request_menu_number():
    print("\n 메뉴")
    for item in menu:
        print(f"{item[0]}. {item[1]} : {item[2]}원")
    print("0. 주문 종료")
    return input("메뉴 번호를 입력하세요: ")

# 2. 주문번호 유효성 판단 함수
def is_valid_number(choice):
    if not choice.isdigit():
        print(" 숫자를 입력해주세요.")
        return False
    number = int(choice)
    valid_numbers = [item[0] for item in menu]
    if number != 0 and number not in valid_numbers:
        print(" 존재하지 않는 메뉴입니다.")
        return False
    return True

# 3. 주문번호가 올바를 때 메뉴 추가 함수 (수량 관리 포함)
def add_order(num):
    for item in menu:
        if item[0] == num:
            if num in orders:
                orders[num][2] += 1 # 수량 증가
            else:
                orders[num] = [item[1], item[2], 1] # 이름, 가격, 수량 1
            print(f" {item[1]} 1개가 주문에 추가되었습니다.")
            print_summary()
            return

# 4. 주문 내역 출력 함수 (수량 포함)
def print_summary():
    print("\n 주문 내역")
    total = 0
    for num, (name, price, qty) in orders.items():
        print(f"- {name} x {qty} = {price * qty}원")
        total += price * qty
    print(f"총합: {total}원")

# 전체 실행 흐름
def run_kiosk():
    while True:
        choice = request_menu_number()
        if not is_valid_number(choice):
            continue
        num = int(choice)
        if num == 0:
            break
        add_order(num)
    print_summary()

# 실행
run_kiosk()

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  1

 요거트 아이스크림 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 1 = 3000원
총합: 3000원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  1

 요거트 아이스크림 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
총합: 6000원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  2

 딸기 요거트 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
- 딸기 요거트 x 1 = 3500원
총합: 9500원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  2

 딸기 요거트 1개가 주문에 추가되었습니다.

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
- 딸기 요거트 x 2 = 7000원
총합: 13000원

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 요거트 : 3500원
3. 초코 요거트 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  0

 주문 내역
- 요거트 아이스크림 x 2 = 6000원
- 딸기 요거트 x 2 = 7000원
총합: 13000원

In [ ]:
# 메뉴 정의 (딕셔너리 구조)
menu = {
    1: ["요거트 아이스크림", 3000],
    2: ["딸기 요거트", 3500],
    3: ["초코 요거트", 3700]
}

orders = {} # {메뉴번호: [이름, 가격, 수량]}

# 1. 주문요청 후 값을 받는 함수
def request_menu_number():
    print("\n 메뉴")
    for key in menu:
        print(f"{key}. {menu[key][0]} : {menu[key][1]}원")
    print("0. 주문 종료")
    return input("메뉴 번호를 입력하세요: ")

# 2. 주문번호 유효성 판단 함수
def is_valid_number(choice):
    if not choice.isdigit():
        print(" 숫자를 입력해주세요.")
        return False
    number = int(choice)
    if number != 0 and number not in menu:
        print(" 존재하지 않는 메뉴입니다.")
        return False
    return True

# 3. 주문번호가 올바를 때 메뉴 추가 함수
def add_order(num):
    name, price = menu[num]
    if num in orders:
        orders[num][2] += 1 # 수량 증가
    else:
        orders[num] = [name, price, 1] # 이름, 가격, 수량
    print(f"✔ {name} 1개가 주문에 추가되었습니다.")
    print_summary()

# 4. 주문 내역 출력 함수
def print_summary():
    print("\n 주문 내역")
    total = 0
    for key in orders:
        name, price, qty = orders[key]
        print(f"- {name} x {qty} = {price * qty}원")
        total += price * qty
    print(f"총합: {total}원")

# 전체 실행 흐름 함수
def run_kiosk():
    while True:
        choice = request_menu_number()
        if not is_valid_number(choice):
            continue
        num = int(choice)
        if num == 0:
            break
        add_order(num)
    print_summary()

# 실행
run_kiosk()

In [20]:
# 메뉴 정의 (딕셔너리 구조)
menu = {
    1: ["요거트 아이스크림", 3000],
    2: ["딸기", 3500],
    3: ["초코", 3700]
}

orders = {} # {메뉴번호: [이름, 가격, 수량]}

# 1. 주문요청 후 값을 받는 함수
def request_menu_number():
    print("\n 메뉴")
    for key in menu:
        print(f"{key}. {menu[key][0]} : {menu[key][1]}원")
    print("0. 주문 종료")
    return input("메뉴 번호를 입력하세요: ")

request_menu_number()

 메뉴
1. 요거트 아이스크림 : 3000원
2. 딸기 : 3500원
3. 초코 : 3700원
0. 주문 종료

메뉴 번호를 입력하세요:  1

'1'

In [5]:
t1 = (5)
t2 = (5,)

#튜블
리스트랑 비슷, 변경이 안된다.

In [7]:
a = tuple() # 생성자
a, type(a)

((), tuple)

In [10]:
b = (1)
b, type(b)

(1, int)

In [11]:
bb = (1,)
bb, type(bb)

((1,), tuple)

In [12]:
c = (1,2,(3,4),'5',[1,2,3])           #immutabe(변경물가

In [13]:
c[0]

1

In [15]:
c[1]

2

In [16]:
fruits = '사과', '복숭아', '딸기'
fruits, type(fruits)

(('사과', '복숭아', '딸기'), tuple)

In [25]:
#패킹, 언패킹
nums = [1,2,3]
a,b,c = nums  #list unpacking
a,b,c

(1, 2, 3)

In [28]:
#s = 'hello'
s = 'hi'
a,b =s 
a

'h'

In [32]:
s = 'hello' #packing  
#s = 'hi'  #unpacking
a,*b =s     rest로 받는다는 개념
a, b

('h', ['e', 'l', 'l', 'o'])

In [33]:
student = ('홍길동', 20, '1학년') # 패킹
student

('홍길동', 20, '1학년')

In [35]:
name, age, grade = student
f'이름은 {name}이고요 , 나이는 {age}이고요, {grade} 학년입니다.'

' 이름은 홍길동이고요 , 나이는 20이고요, 1학년 학년입니다.'

In [ ]:
x=1
y=2
#x=2, y=1

In [38]:
x = 1
y = 2

# 값 교환
x, y = y, x #tuple의 튜플의 패킹과 언패킹이 존재해서이다.

#print(f"x={x}, y={y}")  # x=2, y=1 출력
x
y

1

In [40]:
tmp = (y,x)
x,y = tmp

In [50]:
def func_a(a):
    return a

result = func_a(5)
result

5

In [55]:
def func_a(a, b, c):
    print(a,b,c)
    return c,b,a

#함수의 호출
result = func_a(5,4,3)
result
result[0]

5 4 3

3

In [52]:
a1, b1, c1 = func_a(1,2,3)
a1,b1,c1

1 2 3

(3, 2, 1)

In [57]:
#tuple에 값을추가하려면
#형변환 > 리스트
name_tuple = ('가연', '진우', '지희')
name_tuple

('가연', '진우', '지희')

In [58]:
name_list=list(name_tuple)
name_list

['가연', '진우', '지희']

In [60]:
name_list.append("유석")
name_list

['가연', '진우', '지희', '유석', '유석']

In [61]:
dir(name_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#__add__+
#__add__*

In [65]:
name_tuple = name_tuple.__add__(('유석',))

In [66]:
name_tuple

('가연', '진우', '지희', '유석')

In [68]:
name_tuple = name_tuple.__mul__(2)

In [70]:
name_tuple

('가연', '진우', '지희', '유석', '가연', '진우', '지희', '유석')

In [71]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [73]:
t3 = t1*2
t3

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [74]:
t3[0]

1

In [75]:
t3[:3]

(1, 2, 3)

In [78]:
t3[0]

1

#집합
-set(), {}
- 중복이 안된다, 순서 X, 키 X
- 속도 빠름 해싱을 하는 자료 X

In [ ]:
set(), {}
- 중복이 안된다, 순서도 없다, 키도 없다.
- 속도가 빠르다, 해싱을 하는 자료형(딕셔너리 집합)

In [79]:
s= set ([1,2,3])
s

{1, 2, 3}

In [81]:
s1 = (1,2,3)
s1

(1, 2, 3)

In [82]:
s2 = {1,2,3,1}

In [84]:
s2

{1, 2, 3}

In [101]:
l2 = [1,2,3]
l2 = l2 *2
l2

[1, 2, 3, 1, 2, 3]

In [90]:
s3 = set(l2)
s3

{1, 2, 3}

In [106]:
l3 = l2.append([4,5,6])
l3

AttributeError: 'NoneType' object has no attribute 'append'

In [108]:
hash('hi') #해쉬코드

7202077192125941989

In [109]:
hash(123)

123

In [111]:
l1 = [1,2,3]
hash(l1)

TypeError: unhashable type: 'list'

In [113]:
hash((1,2,3))

529344067295497451

In [ ]:
#집합연산

-- 교집합& intersection,  합집합 |,  union() ,차집함 -, difference()

In [122]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}

In [123]:
x&y

{3, 4}

In [124]:
x|y

{2, 3, 4, 5}

In [125]:
x-y

{2}

In [128]:
hash((1,2,3))

529344067295497451

In [134]:
set((1,2,3))

{1, 2, 3}

In [135]:
hash('hi')

7202077192125941989

set(['h1',123])

# 주피터 노트북

In [140]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

#답을 작성하세요.

for num in numbers :
    num+=num
    print(num)

20
40
60
80
100
120
140
160
180
200

In [143]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]

In [151]:
##(:3, -2:)
print(colors[0:3], colors[5:7])

['red', 'green', 'blue'] ['orange', 'black']

In [207]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

In [212]:
for sub in list_a : 
    for item in sub :
        print(item)
    if item == "korean" :
        print(item)

1
2
3
red
green
blue
False
korean
True

In [154]:
list_a[2][1]

'korean'

In [ ]:
4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [157]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

In [159]:
list_c =list_a + list_b 
list_c

[1, 2, 3, 4, 5, 6]

In [175]:
tuple_a = ("apple", "banana", "cherry")

In [176]:
list_k=list(tuple_a)

In [177]:
list_k[1] = 'blueberry'
list_k

['apple', 'blueberry', 'cherry']

In [23]:
tuple_a =list_k
tuple_a

NameError: name 'list_k' is not defined

In [7]:
tuple_a = (5,10,15) #packing만 하면됌
tuple_a

(5, 10, 15)

In [8]:
max(numbers)

NameError: name 'numbers' is not defined

In [188]:
min(numbers)
numbers = (92, 89, 72, 31, 71, 33, 19)

In [6]:

max_value = numbers[0]
min_value = numbers[0]

# `for` 문을 사용해 비교
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print(f"최대값: {max_value}, 최소값: {min_value}")

NameError: name 'numbers' is not defined

In [3]:
#people = [{ 'name': 'Alice', 'age': 24, 'major': 'Computer Science'}]
#people

student = [{ 'name': 'Alice', 'age': 24, 'major': 'Computer Science'}]

#student["name"] = "alice"
#student["age"] = 24
#student["age"] = "Computer Science"

In [4]:
student.keys()

AttributeError: 'list' object has no attribute 'keys'

In [5]:
new_person = { 'name': 'kim', 'age': 30, 'major': 'software' }
people.append(new_person)

NameError: name 'people' is not defined

In [195]:
people

[{'name': 'Alice', 'age': 24, 'major': 'Computer Science'},
 {'name': 'kim', 'age': 30, 'major': 'software'}]

In [196]:
people[1]['age'] = 32

In [22]:
people

NameError: name 'people' is not defined

In [21]:
for person in people:
   for key, value in person.items():
    print(f"{key}, {value}")

NameError: name 'people' is not defined

In [19]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

students = {k: {key: [value] for key, value in v.items()} for k, v in students.items()}

print(students)

{'student1': {'name': ['Alice'], 'age': [24]}, 'student2': {'name': ['Bob'], 'age': [22]}, 'student3': {'name': ['Charlie'], 'age': [23]}}

In [18]:
students.keys()

dict_keys(['student1', 'student2', 'student3'])

In [12]:
students.values()

dict_values([{'name': ['Alice'], 'age': [24]}, {'name': ['Bob'], 'age': [22]}, {'name': ['Charlie'], 'age': [23]}])

In [24]:
name_list = []
age_list = []
for key in students.keys():
    stu = students[key]
    name_list.append(stu['name'])
    age_list.append(stu['age'])

age_tuple = tuple(age_list)
name_list, age_tuple

([['Alice'], ['Bob'], ['Charlie']], ([24], [22], [23]))

In [16]:
name_list = []
age_list = []
for key in students.keys():
    stu = students[key]
    name_list.append(stu['name'])
    age_list.append(stu['age'])

age_tuple = tuple(age_list)
print(name_list)
print(age_tuple)

[['Alice'], ['Bob'], ['Charlie']]
([24], [22], [23])