In [ ]:
import pandas as pd
import mysql.connector
    
# 1. MySQL 연결
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="분석실습"
)
cursor = conn.cursor()

In [2]:
df_customer = pd.read_csv("mig/customer.txt", sep="\t", dtype=str,  encoding='cp949')
df_customer.shape
#(5369, 8)

(5369, 8)

In [3]:
df_sales = pd.read_csv("mig/sales.txt", sep="\t", dtype=str,  encoding='cp949')
df_sales.shape
#(541909, 8)

(541909, 8)

In [4]:
# 3. CUSTOMER INSERT
for row in df_customer.itertuples(index=False, name=None):
    cursor.execute("""
        INSERT INTO CUSTOMER (mem_no, last_name, first_name, gd, birth_dt, entr_dt, grade, sign_up_ch)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, row)
    
conn.commit()  # 변경사항 저장

cursor.execute("SELECT COUNT(*) FROM CUSTOMER")
print(f"총 {cursor.fetchone()[0]}건 삽입 완료")

총 5369건 삽입 완료

In [8]:
df_sales = df_sales.dropna(subset=["CustomerID"])
df_sales["CustomerID"] = df_sales["CustomerID"].astype(int)

# 날짜 및 숫자 변환
df_sales["Quantity"] = df_sales["Quantity"].astype(int)
df_sales["UnitPrice"] = df_sales["UnitPrice"].astype(float)
df_sales["CustomerID"] = df_sales["CustomerID"].astype(int)

# DATETIME 변환
df_sales["InvoiceDate"] = pd.to_datetime(df_sales["InvoiceDate"], errors='coerce')
df_sales["InvoiceDate"] = df_sales["InvoiceDate"].dt.strftime('%Y-%m-%d %H:%M:%S')
df_sales.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [6]:
df_sales = df_sales.astype(object)
rows = [tuple(x) for x in df_sales.to_records(index=False)]
cursor.executemany("""
    INSERT INTO SALES (InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
""", rows)

conn.commit()

cursor.execute("SELECT COUNT(*) FROM SALES")
print(f"총 {cursor.fetchone()[0]}건 삽입 완료")

총 406829건 삽입 완료

In [36]:
# 6. 종료
cursor.close()
conn.close()
print("데이터 삽입 완료")

데이터 삽입 완료

In [35]:
# 1. MySQL 연결
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="분석실습"
)
cursor = conn.cursor()

cursor.execute("SELECT * FROM SALES")
print(f"총 {cursor.fetchall()[2:10]}")

총 [('536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8, datetime.datetime(2010, 12, 1, 8, 26), Decimal('2.75'), 17850, 'United Kingdom'), ('536365', '84029G', 'KNITTED UNION FLAG HOT WATER BOTTLE', 6, datetime.datetime(2010, 12, 1, 8, 26), Decimal('3.39'), 17850, 'United Kingdom'), ('536365', '84029E', 'RED WOOLLY HOTTIE WHITE HEART.', 6, datetime.datetime(2010, 12, 1, 8, 26), Decimal('3.39'), 17850, 'United Kingdom'), ('536365', '22752', 'SET 7 BABUSHKA NESTING BOXES', 2, datetime.datetime(2010, 12, 1, 8, 26), Decimal('7.65'), 17850, 'United Kingdom'), ('536365', '21730', 'GLASS STAR FROSTED T-LIGHT HOLDER', 6, datetime.datetime(2010, 12, 1, 8, 26), Decimal('4.25'), 17850, 'United Kingdom'), ('536366', '22633', 'HAND WARMER UNION JACK', 6, datetime.datetime(2010, 12, 1, 8, 28), Decimal('1.85'), 17850, 'United Kingdom'), ('536366', '22632', 'HAND WARMER RED POLKA DOT', 6, datetime.datetime(2010, 12, 1, 8, 28), Decimal('1.85'), 17850, 'United Kingdom'), ('536367', '84879', 'ASSORTED COLOUR BIRD ORNAMENT', 32, datetime.datetime(2010, 12, 1, 8, 34), Decimal('1.69'), 13047, 'United Kingdom')]