In [ ]:
def calculate_sum(a,b) : 
    result = a + b
    return result
print(calculate_sum(3,4))

# 주석

표준입력과 표준 출력

In [2]:
12345
10
# ipython 라이브러리의 기본기능
# print(12345) 표준출력 기능을 내장하고 있다.

10

In [ ]:
4 2.5 "a" "hello" True

In [3]:
print(12345)
10

12345

10

In [14]:
'12345'*3

'123451234512345'

In [12]:
type('12345')

str

In [13]:
type("12345")

str

In [17]:
input("당신의 이름을 입력하세요")          #값이 들어올 때까지 대기

당신의 이름을 입력하세요 범

'범'

In [19]:
input("당신의 나이를 입력하세요")

당신의 나이를 입력하세요 34

'34'

In [21]:
age = input('당신의 나이를 입력하세요')
age

당신의 나이를 입력하세요 33

'33'

In [27]:
#입력받은 name을 출력하세요
name =input("이름을 입력하세요")

이름을 입력하세요 범

범

In [ ]:
print(name)
age = int(age)

In [29]:
print(age, name)

33 범

In [ ]:
print('나는' + name + '이고 나이는' + age + '입니다')

In [70]:
# 연습 자기 이름으로  삼행시 짓기
first =input("백")
middle =input("승")
last =input("범")

#print( "백: " + first + "\n" , "승: " +  middle +  "\n" , "범: " + last +  "\n")
print(first, middle, last , sep="\t")

백 자느
승 자가
범 이다

자느	자가	이다

삼행시= ("백: " + first + "\n" + "승: " +  middle +  "\n" + "범: " + last +  "\n")
print(삼행시)

변수 type safe: 변수를 선언할 떄 타입을 지정하지 않아도 되는 특성
변수명 = 값
##변수의 명명 규칙 
1. 문자 숫자 밑줄을 가지고 만든다.
2. 숫자로 시작하면 x
3. 대소문자 구순
4. 예약어, 특수기호 공백 X

In [87]:
x = 10
y = 'hello'
z = 3.141592
x,y,z

(10, 'hello', 3.141592)

In [89]:
print(type(x), type(y), type(z))

<class 'int'> <class 'str'> <class 'float'>

In [93]:
a, b, c = 10, 20 ,30  # 언패킹
a,b,c

(10, 20, 30)

In [95]:
a=b=c=40
a,b,c

(40, 40, 40)

In [100]:
d = True #bool형
e = None #type이 없음
d, e
type(d), type(e)

(bool, NoneType)

In [3]:
aa=10
bb=aa
print(aa,bb)
id(aa), id(bb)

10 10

(140713484561112, 140713484561112)

In [4]:
a=10
b=10
print(a,b)
id(a), id(b)

10 10

(140713484561112, 140713484561112)

In [2]:
#지역변수
def local_example():
    local_var =100
    print('여기는 함수의 영역입니다.' , local_var)

local_example()

여기는 함수의 영역입니다. 100

In [5]:
#전역변수

global_var ='나는 전역이다'
print(global_var)

def global_example():
    print('이것은 전역변수에요.', global_var)

global_example()

나는 전역이다
이것은 전역변수에요. 나는 전역이다

In [9]:

global_var ='나는 전역이다'
print(global_var)

def global_example():
    global var_test
    var_test=100 
    print('이것은 전역변수에요.', var_test)

global_example()
print(global_var)

나는 전역이다
이것은 전역변수에요. 100
나는 전역이다

In [6]:
# 변수영역 연습

counter = 0 #global
def increment_counter():
    global counter
    counter +=1
    print("카운터 : ", counter)

increment_counter()
increment_counter()
increment_counter()

카운터 :  1
카운터 :  2
카운터 :  3

In [9]:
#교재변수 연습 
a = 123
a = -178
a = 0
a

0

In [12]:
a = 4.24E10
a

42400000000.0

In [20]:
s = "hello"
t = "python"
print(s+"! "+t)

hello! python

In [24]:
a=128
print (type(a))

<class 'int'>

In [25]:
a = "132"
print (type(a))

<class 'str'>

In [33]:
num_str = "720"
int_num = int(num_str)
print(type(int_num),int_num)

<class 'int'> 720

In [34]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [36]:
year = "2020"
year = int(year)
print(year-1)
print(year-2)
print(year-3)

2019
2018
2017

In [38]:
month = 48584
year = 48584 *36
print(year)

1749024

In [41]:
letters = 'python'
print(letters[0], letters[2])

p t

In [45]:
license_plate = "24가 2210"
print(license_plate[4:8])

2210

In [49]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
#자료형
- 기본 자료형 : 숫자형, 문자형(str), 부울형
- 복합 자료형 : 리스트, 셋, 튜플, 딕셔너리

In [1]:
s1 = {1, 2, 3, 4, 5}  
s2 = set([3, 4, 5, 6])

In [2]:
s2

{3, 4, 5, 6}