In [ ]:
import pandas as pd

# 직원 명단 DataFrame 생성
data = {
    'Name' : ['Alice', "Bob", "Charlie", "David", "Eva"],
    'Age' : [25,45,35,42,28],
    'Salary' : [5000, 7000, 6500, 5500, 6000]
}

df  =pd.DataFrame(data)
df

      Name  Age  Salary
0    Alice   25    5000
1      Bob   45    7000
2  Charlie   35    6500
3    David   42    5500
4      Eva   28    6000

In [21]:
def age_category(age):
    if age <30  :
        return '20대'
    elif age <40  :
        return '30대'
    elif age <50  :
        return '40대'
 

def calc_bonus(salary):
    return salary*0.3
 
age_category(25)

'20대'

In [23]:
df['Age'].apply(age_category)
df['Age_category'] = df['Age'].apply(age_category)

df['Bonus']=df['Salary'].apply(calc_bonus)

In [25]:
df['S_Bonus']=df['Salary'].apply(lambda x: x*0.4)

df

      Name  Age  Salary Age_category   Bonus  S_Bonus
0    Alice   25    5000          20대  1500.0   2000.0
1      Bob   45    7000          40대  2100.0   2800.0
2  Charlie   35    6500          30대  1950.0   2600.0
3    David   42    5500          40대  1650.0   2200.0
4      Eva   28    6000          20대  1800.0   2400.0

In [ ]:
#데이터 연결하기 
#concat() + axis =

FileNotFoundError: [Errno 2] No such file or directory: './data/concat_1.csv'